<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Tienes las fichas <%= usuario %></h2>
    <table>
      <% if (meToca == 1) { %>
        <% for (var fila = 0; fila < 8; fila++) { %>
          <tr>
          <% for (var columna = 0; columna < 8; columna++) { %>
              <td>
                <% if (tablero[fila][columna] == 0) { %>
                <input type="hidden" name="fila" value="<%= fila %>" />
                <input type="hidden" name="columna" value="<%= columna %>" />
                <input type="submit" value="."/>
                <% } else if ( tablero[fila][columna].indexOf("N") == 0){ %>
                  <input type="hidden" name="fila" value="<%= fila %>" />
                  <input type="hidden" name="columna" value="<%= columna %>" />
                  <input type="submit" value="<%= tablero[fila][columna] %>"/>
                  <% } else { %>
                  <form action="/moverficha" method="post">
                  <input type="hidden" name="fila" value="<%= fila %>" />
                  <input type="hidden" name="columna" value="<%= columna %>" />
                  <input type="submit" class="available" name="ficha" value="<%= tablero[fila][columna] %>"/>
                  </form>
                  <% } %>
                </td> 
                <% } %>
              </tr>
              <% } %>
              <% } else { %>
                <% for (var fila = 7; fila > -1; fila--) { %>
                  <tr>
                  <% for (var columna = 0; columna < 8; columna++) { %>
                      <td>
                <% if (tablero[fila][columna] == 0) { %>
                  <input type="hidden" name="fila" value="<%= fila %>" />
                  <input type="hidden" name="columna" value="<%= columna %>" />
                  <input type="submit" value="."/>
                  <% } else if ( tablero[fila][columna].indexOf("B") == 0){ %>
                    <input type="hidden" name="fila" value="<%= fila %>" />
                    <input type="hidden" name="columna" value="<%= columna %>" />
                    <input type="submit" value="<%= tablero[fila][columna] %>"/>
                  <% } else { %>
                    <form action="/moverficha" method="post">

                    <input type="hidden" name="fila" value="<%= fila %>" />
                    <input type="hidden" name="columna" value="<%= columna %>" />
                    <input type="submit" class="available" name="ficha" value="<%= tablero[fila][columna] %>"/>
                    </form>
                    <% } %>
              <% } %>
            </td> 
        <% } %>
      </tr>
      <% } %>
    </table>

    <% if (!meToca) { %>
      <script>
        setInterval(function () {
          fetch('/miturno').then(function(response) {
            if (response.ok) {
              location.reload();
            }
          })
        }, 3000);
      </script>
    <% } %>
  </body>
</html>
