<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Tienes las fichas <%= usuario %></h2>
    <table>
      <% for (var fila = 0; fila < 8; fila++) { %>
        <tr>
        <% for (var columna = 0; columna < 8; columna++) { %>
            <td>
              <% if (meToca == 1) { %>
                <% if (tablero[fila][columna] == 0 || tablero[fila][columna].indexOf("N") == 0) { %>
                <input type="hidden" name="fila" value="<%= fila %>" />
                <input type="hidden" name="columna" value="<%= columna %>" />
                <input type="submit" value="."/>
                <% } else { %>
                  <form action="/seleccionarficha" method="post">

                  <input type="hidden" name="fila" value="<%= fila %>" />
                  <input type="hidden" name="columna" value="<%= columna %>" />
                  <input type="submit" name="ficha" value="<%= tablero[fila][columna] %>"/>
                  </form>
                  <% } %>
              <% } else { %>
                <% if (tablero[fila][columna] == 0 || tablero[fila][columna].indexOf("B") == 0) { %>
                  <input type="hidden" name="fila" value="<%= fila %>" />
                  <input type="hidden" name="columna" value="<%= columna %>" />
                  <input type="submit" value="."/>
                  <% } else { %>
                    <form action="/seleccionarficha" method="post">

                    <input type="hidden" name="fila" value="<%= fila %>" />
                    <input type="hidden" name="columna" value="<%= columna %>" />
                    <input type="submit" name="ficha" value="<%= tablero[fila][columna] %>"/>
                    </form>
                    <% } %>
              
              <% } %>
            </td> 
        <% } %>
      </tr>
      <% } %>
    </table>
  </body>
</html>
